{% extends 'base.html.twig' %}

{% block title %}{{ 'explore.mars'|trans }}{% endblock %}

{% block header %}{{ 'explore.mars'|trans }}{% endblock %}

{% block form %}
    {% form_theme form 'form/form_errors.html.twig' %}
    <div class="form_signin">
        <div class="form-group">
        {{ form_start(form) }}
            {{ form_row(form.enterData) }}
            <button class="btn btn-primary" type="submit">{{ 'show.final'|trans }}</button>
            {{ form_rest(form) }}
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block result %}
    <div class='result'>
        {% for result in results %}
            {{ result|trans }} <br>
        {% endfor %}
    </div>
{% endblock %}