{#{% extends 'base.html.twig' %}#}

{#{% block title %}{{ 'explore.mars'|trans }}{% endblock %}#}

{#{% block header %}{{ 'explore.mars'|trans }}{% endblock %}#}

{% block form %}
    {% form_theme form 'form/form_errors.html.twig' %}
    <div class="form_signin">
        <form class="form-group" action="{{ path('exploringMars') }}">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}" data-expired-callback="dataExpiredCallback"></div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            <button class="btn btn-primary" type="submit">{{ 'show.final'|trans }}</button>
        </form>
    </div>
{% endblock %}

{% block result %}
    <div class='result'>
        {% for result in results %}
            {{ result|trans }} <br>
        {% endfor %}
    </div>
{% endblock %}

<script type="text/javascript">
    var dataExpiredCallback = function() {
        grecaptcha.reset();
    };
</script>
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?&render=onload&hl={{ app.request.locale }}"
            async defer>
    </script>
{% endblock %}