{% extends 'base.html.twig' %}

{% block title %}exploring mars{% endblock %}

{% block header %}exploring mars{% endblock %}

{% block form %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.enterData) }}
        <input type="submit" value="Show final position" />
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block result %}
    <div class='result'>
        {% for result in results %}
            {{ result }} <br>
        {% endfor %}
    </div>
{% endblock %}