<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            {% stylesheets 'assets/css/main.css' filter='cssrewrite' output='assets/css/compiled/app.css' %}
                <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>
        {% block body %}
            <div class='header'>
                <h1>
                    {% block header %}{% endblock %}
                </h1>
            </div>
        <div class='wrapper'>
            <div id='table'>
                {% block table %}{% endblock %}
            </div>
            {% block form %}{% endblock %}
            {% block result %}{% endblock %}
            {% block switcher %}
                {{ locale_switcher() }}
            {% endblock %}
        </div>
        {% endblock %}
        {% block logout %}
            {% if (app.request.attributes.get('_route') != 'homepage') %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ logout_path('default') }}">{{ 'sign.out'|trans }} » </a>
                {% endif %}
                <br>
                <a href="{{ path('homepage') }}">{{ 'home'|trans }} » </a>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
