{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block header %}{{ 'home'|trans }}{% endblock %}

{% block table %}
    <div class='cell'>
        <a class='menu' href="{{ path('flickrPhotos') }}">{{ 'flickr.photos'|trans }}</a>
    </div>
    <div class='cell'>
        <a class='menu' href="{{ path('exploringMars') }}">{{ 'mars'|trans }}</a>
    </div>
{% endblock %}