{% extends 'base.html.twig' %}

{% block title %}{{ 'flickr.photos'|trans }} v.{{ version }}{% endblock %}

{% block header %}{{ 'flickr.photos'|trans }}{% endblock %}

{% block table %}
    {% transchoice count %}
        {0}There are no photos|{1}There is one photo|]1,Inf[There are %count% photos
    {% endtranschoice %}
    {% for photo in show(reverse(arrayPhotos), 5) %}
    <div class='cell'>
        <a class='large' href={{ photo.srclarge }}>
            <div class='img' style='background-image:url({{ photo.srcthumbnail }})'></div>
            <div class='title'>{{ short(photo.title|default('No title'))|counter(loop.index) }}</div>
        </a>
        <a id='arrow' target='_blank' href='http://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}'> » </a>
        <div class='clearfix'></div>
    </div>
    {% endfor %}
{% endblock %}
{#{% block switcher %}#}
    {#<div class="locale_switcher">{{ locale_switcher('flickrPhotos') }}</div>#}
    {#<div class="clearfix"></div>#}
{#{% endblock %}#}