{% extends 'base.html.twig' %}

{% block title %}{{ 'sign.in'|trans }}{% endblock %}

{% block header %}{{ 'sign.in'|trans }}{% endblock %}

{% block form %}
    <div class="form_right">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            <label for="username">{{ 'user.name'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <br>
            <label for="password">{{ 'user.password'|trans }}:</label>
            <input type="password" id="password" name="_password" />
            <input type="submit" value="{{ 'sign.in'|trans|capitalize }}" />
        </form>
    </div>
    <div class="clearfix"></div>
{% endblock %}