{% extends 'base.html.twig' %}

{% block title %}{{ 'users'|trans }}{% endblock %}

{% block header %}{{ 'users'|trans }}{% endblock %}

{% block table %}
        {% for user in users %}
            <div class="cell" style="text-align: left; height: 120px;
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (user.id == app.user.id) %}
                    background-color: white; border: 1px dashed grey;
                {% endif %}
            {% endif %}
            ">
                <div class="large" style="cursor: auto">
                    <ul>
                        <li>{{ user.id }}
                            <ul>
                                <li>{{ 'user.name'|trans }}: {{ user.username }}</li>
                                <li>{{ 'user.country'|trans }}: {{ user.country }}</li>
                                <li>{{ 'user.email'|trans }}: {{ user.email }}</li>
                                <li>{{ 'user.password'|trans }}: {{ user.password }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a id='arrow' href="{{ path('removeUser', {'id': user.id}) }}"> × </a>
            </div>
        {% endfor %}
{% endblock %}