{#{% extends 'base.html.twig' %}#}

{#{% block title %}{{ 'users'|trans }}{% endblock %}#}

{#{% block header %}{{ 'users'|trans }}{% endblock %}#}

{% block table %}
        {% for user in users %}
            <div class="cell" style="text-align: left; height: 170px;
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (user.id == app.user.id) %}
                    background-color: white; border: 1px dashed grey;
                {% endif %}
            {% endif %}
            ">
                <div class="large" style="cursor: auto;
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if (user.id == app.user.id) %}
                            width: 100%
                    {% endif %}
                {% endif %}
                ">
                    <ul>
                        <li>{{ user.id }}
                            <ul>
                                <li>{{ 'user.name'|trans }}: {{ user.username }}</li>
                                <li>{{ 'user.country'|trans }}: {{ user.country }}</li>
                                <li>{{ 'user.email'|trans }}: {{ user.email }}</li>
                                <li>{{ 'user.password'|trans }}: {{ user.password }}</li>
                                {% for phone in phones %}
                                    {% if (user.id == phone.user.id) %}
                                        <li>{{ 'user.phone'|trans }}: {{ phone.number }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if (user.id != app.user.id) %}
                    <a id='arrow' title="{{ 'user.remove'|trans }}" href="{{ path('removeUser', {'id': user.id}) }}"> × </a>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
{% endblock %}