{% extends 'base.html.twig' %}

{% block title %}{{ 'sign.up'|trans }}{% endblock %}

{% block header %}{{ 'sign.up'|trans }}{% endblock %}

{% block form %}
    {% form_theme form_sign_up with ['form/form_errors.html.twig', 'form/form_email.html.twig'] %}
    <div class="form_signin">
        <div class="form-group">
            {{ form_start(form_sign_up) }}
            {{ form_widget(form_sign_up) }}
            <button class="btn btn-primary" type="submit">{{ 'sign.up'|trans|capitalize }}</button>
            {{ form_end(form_sign_up) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script data-main="{{ asset('assets/js/app.js') }}" src="{{ asset('assets/js/require.js') }}"></script>
    <script src="{{ asset('assets/js/app/validator.js') }}"></script>
{% endblock %}