{% extends 'base.html.twig' %}

{% block title %}{{ 'sign.up'|trans }}{% endblock %}

{% block header %}{{ 'sign.up'|trans }}{% endblock %}

{% block form %}
    {% form_theme form_sign_up with ['form/form_widget.html.twig', 'form/form_email.html.twig'] %}
    <div class="form_signin">
        <div class="form-group">
            {{ form_start(form_sign_up) }}
            {{ form_widget(form_sign_up) }}
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}"></div>
                <label class="control-label input-sm recaptcha-error" style="width: 100%; display: none"></label>
            </div>
            <button class="btn btn-primary" type="submit">{{ 'sign.up'|trans|capitalize }}</button>
            {{ form_end(form_sign_up) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script data-main="{{ asset('assets/js/app.js') }}" src="{{ asset('assets/js/require.js') }}"></script>
    <script src="{{ asset('assets/js/app/validator.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?&render=onload&hl={{ app.request.locale }}"
            async defer>
    </script>
{% endblock %}